<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vasim shaikh </title>
</head>

<body>
    <h1>
        for loop in jinja 2
    </h1>
    <ul>

        {%for list in list1 %}
        <li>{{list}}</li>
        {%endfor%}

    </ul>

    <h1>
        for loop in jinja 2
    </h1>
    <ul>

        {%for var in number %}
        <li>{{var}}</li>
        {%endfor%}

    </ul>

    <h1>
        if-eles condition in jinja 2
    </h1>
    <ul>

        {%if "vasim" in list1 %}
        <p>vasim is found</p>
        {%else%}
        <p> Not found...!!! </p>
        {%endif%}

    </ul>

</body>

</html>